i {
    font-size : 12px;
    padding-right: 10px;
    color: #aece61;
}


/* Footer */
.footer {
    position: relative;
    background-color: #092746;
    padding: 25px 0 20px;
    font-size:16px;
}
.footer p {
    line-height:26px;
    color : #fff;
    text-align: center;;
}
.footer h5 {
    font-size: 22px;
    font-weight: 700;
    color: #aece61  ;
    position: relative;
    padding-bottom: 16px;
    margin-left: 35px;
    text-align: center;
}
.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #1e1d22 ;
    text-align: center;
}

.footer ul {
    list-style: none;
    line-height:35px;
    margin: 0px;
    color:#fff;
    
}
.footer a {
    color:# ;
   
}
.footer a:hover {
    color: #aece61 ;
}

/* Footer Logo */
.foot-logo {
    margin: 0px 0px 18px 0px;
    padding: 0;
}

/*footer bottom */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #2f2f33 ;
    background: #1e1d22;
    
}

.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
    font-size:15px;
}

.copyright-text a {
    color: #7d7975;
    margin: 0px 10px 0px 10px;
    
}
.copyright-text a:hover {
    color: #aece61  ;
    
    
}
/* Social Icons */

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#fff;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }

.header{
	background-color:#092746;
	color: white;
	padding: 20px 0 10px;

}

img {
    display: block;
    margin: auto;
}

.header ul{
    list-style-type: none;
}


.m-head:link,.m-head:visited{
    color: white;
}

.m-head:hover{
    font-size: 22px;
    text-decoration: none;
}

.links-header{
    text-align: center;
    font-size: 20px;
    border: 1px solid white; 
    border-radius: 25px;

 }

 .m-head:hover{
    text-decoration: none;
 }


@media (min-width: 768px) {

     .links-header{
        display: inline;
        font-size: 16px;
     }
     .m-head:hover{
        font-size: 18px;

    }
}

@media (min-width: 990px) {

     .links-header{
        display: inline;
        font-size: 14px;
     }
     .m-head:hover{
        font-size: 16px;

    }
}

@media (min-width: 1209px) {
   .links-header{
        display: inline;
        font-size: 18px;
 }
    .m-head:hover{
        font-size: 20px;
    }
}

@media (min-width: 1294px) {
  .links-header{
    display: inline;
    font-size: 20px;
 }
     .m-head:hover{
        font-size: 22px;
    }
}


table{
	background-color: #e0ebeb;
	margin-top: 20px;
}

hr{
    border-radius: 25px;
    border: 2px solid #092746;
    border-width: 2px;
}

.center-text{
    text-align: center;
}

.questions{
 
    border: 1px solid #a1a1a1;
    padding: 10px;
    border-radius: 25px;
}

.question{
 
    margin: 20px 0px;
}

.wrap h1{
    margin-bottom: 20px;
}


.seccion-A{
    margin-bottom: 20px;
}

.seccion-B{
    margin-bottom: 20px;
}

article{
    line-height: 30px;
}

.score{
    font-size:20px;
    font-weight:1000;
    margin-left: 20px;

}

.button-score{
    float: left;
    margin-right: 20px;

}

.score-section{
    margin-left: 20px;
    position: relative;
}

.guessA{
    width: 80px;
    height: 80px;
    background-color: #c1ff84;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #99ff33;
    font-size: 12px;
}

.guessA:hover{
    background-color: #99ff33;
}


.guessB{
    width: 80px;
    height: 80px;
    background-color: #ff997f;
    margin: 10px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #ff3300;
    font-size: 12px;
}

.guessB:hover{
    background-color: #ff3300;
}

.questions h2, .questions p{
    margin-left: 20px;
}

.special-size{
    font-size: 12px;
}