.cuerpo{
	margin-top: 50px;
}

.cuerpo ul{
	list-style: none;
    line-height:35px;
    margin: 0px;
    color:#fff;
}

#counter{
	width: 100%;
}

#counter_img{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 5em;
}

iframe{
	height:315px;
	margin-left: 5%;
	width:90%;
}

.panel h1{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ceac14+0,ad6308+100 */
	font-family: 'Nova Mono', monospace;
	color: white;
}

article{
	text-align: justify;
}