.cuerpo{
	margin-top: 50px;
}

.cuerpo ul{
	list-style: none;
    line-height:35px;
    margin: 0px;
    color:#fff;
}

#counter{
	width: 100%;
}

#counter_img{
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 10em;
}

iframe{
	height:315px;
	margin-left: 5%;
	width:90%;
}

.panel h1{
	background-color: #092746;
	font-family: 'Nova Mono', monospace;
	color: white;
	border-radius: 25px 25px 25px 25px;
	padding-left: 25px;
	margin-top: 10px;
}

article{
	text-align: justify;
}