body{
}

#colorBox1{
	float:left;
	margin-left:15;
	width:20%;
	height: 100%;
	background-color: #ffff02;
}

#colorBox2{
	float:left;
	width:20%;
	height: 100%;
	background-color: #02ffff;
}

#colorBox3{
	float:left;
	width:20%;
	height: 100%;
	background-color: #01ff00;
}

#colorBox4{
	float:left;
	width:20%;
	height: 100%;
	background-color: #ff00ff;
}

#colorBox5{
	float:left;
	width:20%;
	height: 100%;
	background-color: #fe0002;
}

#colors_container{

	float: left;
	height: 200px;
	width: 100%;
	border: 1px solid black;	
}

#color_picker{
	margin: 20px;
}

.colorName{
	width:100%;
	text-align: center;
	clear: both;
}

#color_name{
	margin-top:20px;
	font-size: 72px;
	padding-top: 0.5em;
	font-family: 'Nova Mono', monospace;
}

#copyright{
	color: white;
}

#div_header_container{
	width: 100%;
	border-radius: 0px 0px 25px 25px;
	margin-top:-10px;
	display: inline-block;
	background-color:#c96031;
}

footer {

    bottom: 0;
	height: 150px;
    width: 100%;
	border-radius: 25px 25px 0px 0px;
	margin-left: auto;
	background-color:#c96031;
	
}

#footer_container_break_line{
	margin-left:20px;
	margin-top:20px;
	float: left;
}

#footer_container_info{
	bottom: 0;
	height: 100%;
}


img{
	height: 100px;
	width: 100px;
}

#header_name{
	width: 60%;
	float: left;

}

#header_menu{
	float: right;
	text-align: center;
	vertical-align:center;
	width: 40%;	
}


.menu_header_a:hover, .menu_header_a:active{
	background-color: white;
	color: #c96031;    
}

.menu_header_a:link{
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	margin: 5px 5px 5px 5px;
	border: 2px solid white;
	font-family: 'Lato', sans-serif;
	border-radius: 10px 10px 10px 10px;
	color:white;
	background-color: #c96031;
}

select{
	width: 200px;
}

#tags_container{
	width: 70%;
	margin-left: 14%;
	background-color: #f2cc9b;
	padding: 2%;
	border-radius: 25px;
	margin-bottom: 50px;
}


#title_header{
	margin-top:10px;
	margin-left:40px;
	font-size: 3.5em;
	font-weight: bold;
	font-family: 'Nova Mono', monospace;
	color: white;

}