body{
}

#colorBox1{
	float:left;
	margin-left:15;
	width:20%;
	height: 100%;
	background-color: #ffff02;
}

#colorBox2{
	float:left;
	width:20%;
	height: 100%;
	background-color: #02ffff;
}

#colorBox3{
	float:left;
	width:20%;
	height: 100%;
	background-color: #01ff00;
}

#colorBox4{
	float:left;
	width:20%;
	height: 100%;
	background-color: #ff00ff;
}

#colorBox5{
	float:left;
	width:20%;
	height: 100%;
	background-color: #fe0002;
}

#colors_container{

	float: left;
	height: 200px;
	width: 100%;
	border: 1px solid black;	
}

#color_picker{
	margin: 20px;
}

.colorName{
	width:100%;
	text-align: center;
	clear: both;
}

#color_name{
	margin-top:20px;
	font-size: 72px;
	padding-top: 0.5em;
	font-family: 'Nova Mono', monospace;
}

#copyright{
	color: white;
}

